Question 1

In [9]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [10]:
b()    # a= 2 as c(a) returns (a) + 2. a = 2
b()    #now a is increamented by 2, so a = 4.
b()    #as we call it again, a = 6
print(f"The value of a is :-----------{a}")

The value of a is :-----------6

Question 2

In [63]:
def FileLength(Name):
    try:
        File = open(Name)
        Contents = File.read()
        File.close()
        print(len(Contents))
    except:
        print(" The given file "+Name+" can be not found.")

In [65]:
FileLength('Set 2.ipynb')

7014

In [66]:
FileLength('idterm.py')

 The given file idterm.py can be not found.

Question 3

In [46]:
class Marsupial:
    def __init__(self):
        self.dictionary = []
    
    def put_in_pouch(self, item):
        self.dictionary.append(item)
    
    def pouch_contents(self):
        print(self.dictionary)

class Kangaroo(Marsupial):
    def __init__(self, dx, dy):
        self.x = dx
        self.y = dy
        Marsupial.__init__(self)
    
    def jump(self, xdx, ydy):
        self.x += xdx
        self.y += ydy

    def __str__(self):
        string = "(%s, %s)"%(self.x,self.y)
        return string

In [47]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [48]:
m = Kangaroo(0,0)
print(f"My start point is:-----------{m}")
m.jump(1,0)
m.jump(1,0)
m.jump(1,0)
print(f"My end point is:-----------{m}")

My start point is:-----------(0, 0)
My end point is:-----------(3, 0)

Question 4

In [67]:
def Collatz(number): 
    print(number) 
    while number != 1: 
        if number % 2 == 0: 
            number = int(number/2) 
        else: 
            number = 3* n+1 
        print(number)

In [68]:
collatz(1)

1

In [69]:
collatz(10)

10
5
16
8
4
2
1

Question 5

In [73]:
def Binary(Number):
    if Number == 0:
        return 0
    else:
        Binary(Number//2)
    print(Number%2, end ='')

In [74]:
Binary(0)

0

In [75]:
Binary(1)

1

In [76]:
Binary(3)

11

In [77]:
Binary(9)

1001

Question 6

In [62]:
from html.parser import HTMLParser

# Inherit from Html parser 
class HeadingParser (HTMLParser):
    # Define the headings
    headers = ['h1', 'h2', 'h3', 'h4', 'h5','h6']

# Handle the functions 
    def handle_starttag(self, tag, attrs): 
        if tag in self.headers: 
            print(tag)

    def handle_endtag (self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)

# TEST HERE

parser = HeadingParser() 
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser() 
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

Question 7

In [84]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser



class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    def getLinks(self):
        return self.links



def web(url, depth, indent):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    print("\t"*indent+"{}".format(url))
    for link in urls:
        webdir(link,depth-1,indent+1)

In [85]:
web('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

Question 8

In [86]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\shri\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in c:\users\shri\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\shri\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\shri\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: stack-data in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\shri\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shri\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\shri\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shri\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\shri\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\shri\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\shri\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=12098642956d5927a84351573e6d787806eb607a799363e7533ab1cc23fcfff1
  Stored in directory: c:\users\shri\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [36]:
import sqlite3

In [38]:
con = sqlite3.connect('hello.db')
cur = con.cursor()
cur.execute("CREATE TABLE a1 (City text, Country text, season text, Temperature float, Rainfall float)")

In [39]:
con =sqlite3.connect('hello.db')
cur = con.cursor()

In [40]:
cur.execute("INSERT INTO a1 VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO a1 VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO a1 VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO a1 VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO a1 VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO a1 VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO a1 VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO a1 VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO a1 VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO a1 VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO a1 VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO a1 VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [41]:
con.commit()
con.close()

In [42]:
con = sqlite3.connect('hello.db')
cur = con.cursor()
cur.execute('SELECT * FROM a1')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [43]:
cur.execute("SELECT DISTINCT City FROM a1")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [44]:
cur.execute("SELECT * FROM a1 WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [45]:
cur.execute("SELECT * FROM a1 WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [46]:
cur.execute("SELECT City,Country,Season FROM a1 WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [47]:
cur.execute("SELECT City, Country FROM a1 WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [49]:
cur.execute("SELECT SUM(Rainfall) AS 'Total_Rainfall' FROM a1 WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [50]:
cur.execute("SELECT SUM(Rainfall) FROM a1 WHERE Season = 'Winter'")
cur.fetchall()

[(230.1,)]

In [51]:
cur.execute("SELECT SUM(Rainfall) FROM a1 WHERE Season = 'Spring'")
cur.fetchall()

[(192.29999999999998,)]

In [52]:
cur.execute("SELECT SUM(Rainfall) FROM a1 WHERE Season = 'Summer'")
cur.fetchall()

[(1706.5,)]

In [53]:
cur.execute("SELECT SUM(Rainfall) FROM a1 WHERE Season = 'Fall'")
cur.fetchall()

[(569.0,)]

In [54]:
cur.execute("SELECT Rainfall from a1 WHERE Season ='Spring'")
cur.fetchall()

[(16.2,), (169.6,), (6.5,)]

In [55]:
con.commit()
con.close()

Question 9

In [25]:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

9a

In [29]:
list = [x.upper() for x in words]
list

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

9b

In [30]:
list = [x.lower() for x in words]
list

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

9c

In [31]:
list = [len(x) for x in words]
list

[3, 5, 5, 3, 5, 4, 3, 4, 3]

9d

In [32]:
list = [[x.upper(),x.lower(),len(x)] for x in words]
list

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

9e

In [33]:
list = [x for x in words if len(x) >= 4]
list

['quick', 'brown', 'jumps', 'over', 'lazy']